.header {
    background-color: darkgray;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
    color: black;

}




body{
    margin: 0;
    padding: 0;
}

.header ul li{
    padding: 10px;
    
}

.college{
    text-align: center;
}

.college .link {
    text-decoration: none;
    color: black;
    margin: 10px;
}